#maincontainer{
    min-height: 100vh;
    width: 100vw;
    position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.heading{
    font-size:2rem;
    font-weight: 600;
}
.feed{
    padding:1rem;
   display: flex;
   flex-direction: row;
   align-items: center;
  justify-content: center;
    width: 90%;
   
   gap:2rem;
  flex-flow: row wrap;
 border-radius: 5px;

 
}